# Server
PORT=5000
NODE_ENV=development
# FRONTEND_URL=http://localhost:3000,https://scaleai-ashy.vercel.app/
FRONTEND_URL=http://localhost:3000
# MongoDB
# MONGODB_URI=mongodb+srv://shubhjittt_db_user:nPm7fKfjv1SWxcHn@cluster.csc6znx.mongodb.net/
MONGODB_URI=mongodb+srv://aitrainwithnaveen_db_user:eWCPbiBZgADn0YFe@aiscallex-database.xgipgnp.mongodb.net/



# Redis Configuration
REDIS_HOST=committee-humor-superclean-22830.db.redis.io
REDIS_PORT=13530
REDIS_USERNAME=default
REDIS_PASSWORD=S9ntUT98CrPA70mxi0FvVRHdEuZp6xdS






# Email (AWS SES)
# EMAIL_FROM=noreply@aiscale.in

# Sentry (optional)
# SENTRY_DSN=

# Google OAuth
# GOOGLE_CLIENT_ID=965799716817-khhe3n951eag5qljjcrngrfuoj5oo8mt.apps.googleusercontent.com
GOOGLE_CLIENT_ID= 587101895348-gtolq0ticomniil0s1lbh1jgifcghnr1.apps.googleusercontent.com

# JWT Configuration
JWT_SECRET=supersecretproductionkey12345
JWT_EXPIRES_IN=5d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dppgindsc
CLOUDINARY_API_KEY=311968318713615
CLOUDINARY_API_SECRET=Nh84QWirdRWdnH73pcI3sV2F2Jc

# Razorpay
RAZORPAY_KEY_ID=rzp_live_SWeywtnWXDrOjV
RAZORPAY_KEY_SECRET=JcJz5w43kr3bsqdMjuoWgOb6


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=shubhajitbasak45@gmail.com
SMTP_PASS=agcmoocfapivqtil
EMAIL_FROM=shubhajitbasak45@gmail.com

# AWS S3 (for course video storage)
AWS_ACCESS_KEY_ID=AKIATS4GIBJGQFYW5NOK
AWS_SECRET_ACCESS_KEY=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
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=mycourse-videos-storage